.gradle/
/.gradle/**

# Local environment
local.properties

# Android/Gradle build output
build/
*/build/
!app/build/
app/build/*
!app/build/outputs/
app/build/outputs/*
!app/build/outputs/apk/
!app/build/outputs/apk/**
.cxx/
.externalNativeBuild/
captures/

# IDE files
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/workspace.xml
*.iml

# Editor settings


# OS files
.DS_Store
Thumbs.db
# app/signing.properties
# keystore/mbftools-release.jks


api/node_modules
api/node_modules/**
